body{
  background-color:#59DBD5 ;  
  color: #ffffff;
  font-size:2em;
  text-align: center;
}

#pageWrap{
  margin:auto;
  width:95%;
}

.list li{
  background-color: #082528;
  border-radius: 5px;
  height:60px;
  margin: 5px 0px;
  text-align: center;
}

input{
  height:60px;
  width:100%;
}

input[type="submit"]{
  border:none;
  background-color:#CF0A2C;
  color:#ffffff;
  font-size:1.5em;
}

/* ---------------------- */ 
#bottomNav{
  background-color:#aaaaaa;
  bottom:0;
  left:0;
  margin:0;
  padding:1rem;
  position:fixed;
  width:100%;
  z-index:1;
}

#bottomNav ul{
  list-style:none;
}

#bottomNav li{
  display:inline-block;
  text-decoration:none;
  width:25%;
}

#bottomNav a{
  color:#ffffff;
  font-size:2rem;
  text-decoration:none;
}

ul{
  list-style: none;
  padding-left: 0;
}

input{
  display:block;
}

.column{
  display: inline-block;
  margin: 5px;
  min-width:175px;
  vertical-align:top;
  width:45%;
}

.green{
  color:#0c6169;
}

.red{
  color:#CF0A2C;
}

button{
  border:none;
  background-color:#CF0A2C;
  height:100%;
  border-radius: 5px;
  float:left;
}
/*
#59DBD5 // light aqua

#082528 // dark navy

#0c6169 // light navy

#085156 // middle navy

#2BBCB5 // shadow on light aqua

#CF0A2C // red

*/