
<h1><span class='red' >Cash Flow: </span><span ng:class="{true:'red', false:'green'}[netFlow()<=0]">{{netFlow()}}</h1>
<!--<span class='green' >{{totalIncome()}}</span>-<span class='red' >{{totalExpense()}}</span>-->

<hr/>
<div class='column'>
	<h2><span class='green'>+ {{totalIncome()}}</span></h2>
	
	<form ng-submit='addIncomeItem()'>
		<label><span class='red' >Name: </span></label><input id='incomeName' type='text' ng-model='newIncomeName' />
		<label><span class='red' >Amount: </span></label><input type='number' ng-model='newIncomeAmount' />
		<input type='submit' value='+ income' />
	</form>
	<ul class='list'>
		<li ng-repeat='incomeItem in incomeItems'>
			<button ng-click="deleteIncomeItem(incomeItem)"> X </button>{{incomeItem.name}}: ${{incomeItem.amount}}
		</li>
	</ul>
</div><!--


--><div class='column'>
	<h2><span class='red' >- {{totalExpense()}}</span></h2>
	
	<form ng-submit='addExpenseItem()'>
		<label><span class='red' >Name: </span></label><input id='expenseName'type='text' ng-model='newExpenseName' />
		<label><span class='red' >Amount: </span></label><input type='number' ng-model='newExpenseAmount' />
		<input type='submit' value='+ expense' />
	</form>
	<ul class='list'>
		<li ng-repeat='expenseItem in expenseItems'>
			<button ng-click="deleteExpenseItem(expenseItem)"> X </button>{{expenseItem.name}}: ${{expenseItem.amount}}
		</li>
	</ul>
</div>